:root {

    --primary-color: #f2f537;
    --off-white: #FAFAF9;

    --light-green: #ececa2;
}

body {
    max-width: 35rem;
    margin: auto;
    font-style: italic;
    background: url("minion.jpg");
    background-position: 50% 50%;
    background-size: cover;



}

#nav-title {
    font-weight: bolder;
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;


}

.text {
    display: block;
    width: 500px;
    height: 100px;
    margin: 20px;
    border: 1px solid #4a4a52;
    border-radius: 0.5rem;
    background-color: var(--light-green);

}

.btn {
    border-radius: 4px;
    background-color: var(--primary-color);
    font-size: 20px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    opacity: 0.8;
    /* border-color: var(--off-white); */
    border-radius: 1rem;
    margin-left: 22px;



}

.btn:hover {
    opacity: 1;
}

#reset {
    width: 100px;
}


#minionimg {
    height: 200px;


}

#translation {
    color: white;
    margin-left: 2rem;
    font-size: large;

}

footer {
    /* background-color: var(--primary-color); */
    color: white;
    text-align: center;
    font-family: cursive;

}